.about-us-preview .box {
    display: flex;
    flex-wrap: wrap;
    background: var(--light-bg);
    border-radius: var(--border-radius);
    padding: 2rem;
}

.about-us-preview .box .image {
    flex: 1 1 30rem;
    height: 30rem;
    overflow: hidden;
    border-radius: var(--border-radius);
}

.about-us-preview .box .image img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.about-us-preview .box .content {
    flex: 1 1 30rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 2rem;
}

.about-us-preview .box .content h3 {
    font-size: var(--heading-font-size);
    color: var(--black);
}

.about-us-preview .box .content p {
    font-size: 1.5rem;
    color: var(--light-color);
    padding: 1rem 0;
    line-height: 2;
}

@media (max-width: 768px) {
    .about-us-preview .box {
        flex-direction: column;
    }

    .about-us-preview .box .image {
        width: 100%;
        height: 25rem;
    }
}
