    public function compare(Request $request)
    {
        $ids = explode(',', $request->query('ids', ''));
        $ids = array_filter($ids, fn($id) => is_numeric($id));
        
        if (empty($ids)) {
            return redirect()->route('motors.index');
        }

        $motors = Motor::with(['specifications'])
            ->whereIn('id', $ids)
            ->get();

        return inertia('Motors/Compare', [
            'motors' => $motors
        ]);
    }
